/*#region main layout */
.unq-main-layout {
  height: 100vh !important;
  width: 100vw !important;
}
/*#endregion main layout */
/*#region Labeled Textbox Control */
.unq-labeled-textbox-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/*#endregion Labeled Textbox Control */
/*#region profile icon */
.unq-profile-icon {
  background-color: var(--rz-primary);
  border: var(--rz-border-primary-lighter);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 500;
}
.unq-profile-icon.unq-profile-icon-regular {
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}
.unq-profile-icon.unq-profile-icon-regular span {
  position: absolute;
  top: 0.45rem;
}
.unq-profile-icon.unq-profile-icon-large {
  height: 5rem;
  width: 5rem;
  font-size: 2.8rem;
}
.unq-profile-icon.unq-profile-icon-large span {
  position: absolute;
  top: 0.55rem;
}
.unq-profile-icon.unq-profile-icon-xlarge {
  height: 6rem;
  width: 6rem;
  font-size: 3.5rem;
}
.unq-profile-icon.unq-profile-icon-xlarge span {
  position: absolute;
  top: 0.45rem;
}
/*#endregion profile icon */