
/*#region main layout */

.unq-main-layout {
    
    height: 100vh !important;
    width: 100vw !important;
}

/*#endregion main layout */

/*#region Labeled Textbox Control */
.unq-labeled-textbox-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    label.unq-textbox-label {
    }

    .unq-textbox-control {
    }
}

/*#endregion Labeled Textbox Control */
