@inherits UnqPageBase
@page "/Contacts"
@rendermode InteractiveServer


<RadzenSplitter Style="height: calc(100vh - 6.4rem);">
    <RadzenSplitterPane Size="30%" Min="10px" Max="70%">
        <ContactListComponent @ref="ContactList" OnItemClick="ContactList_OnItemSelect"></ContactListComponent>
    </RadzenSplitterPane>
    <RadzenSplitterPane>
        <div class="rz-p-4">
            <ContactEditorComponent 
                    Contact="@SelectedContact" 
                    Visible="@ContactEditorIsVisible"
                    OnContactSave="@ContectEditor_OnSave">
            </ContactEditorComponent>
        </div>
    </RadzenSplitterPane>
</RadzenSplitter>
